

<div class="control-container">
    <div>First sample:</div>
    <app-progress-bar-control [currentValue]="5" [maxValue]="12"></app-progress-bar-control>
</div>

<div class="control-container">
    <div>Show value = TRUE:</div>
    <app-progress-bar-control [showValue]="true" [currentValue]="5" [maxValue]="12" [color]="'lightblue'" [backgroundColor]="'white'"></app-progress-bar-control>
</div>

<div class="control-container">
    <div>Show value = FALSE:</div>
    <app-progress-bar-control [showValue]="false" [currentValue]="5" [maxValue]="12"></app-progress-bar-control>
</div>

<div class="control-container">
    <div>Value Type = PERCENTAGE</div>
    <app-progress-bar-control [valueType]="0" [currentValue]="20" [maxValue]="40" [tooltip]="percentageStr" [height]="'44px'"></app-progress-bar-control>
</div>

<div class="control-container">
    <div>Value Type = RATIO</div>
    <app-progress-bar-control [valueType]="1" [currentValue]="13" [maxValue]="0" [tooltip]="'Max is zero'" [height]="'35px'"></app-progress-bar-control>
</div>

<div class="control-container">
    <div>At 90%</div>
    <app-progress-bar-control [valueType]="0" [currentValue]="9" [maxValue]="10" [tooltip]="'Limit exceeded'" [height]="'35px'" [color]="'red'"></app-progress-bar-control>
</div>

<div class="control-container">
    <div>Different colors:</div>
    <app-progress-bar-control [valueType]="0" [currentValue]="76" [maxValue]="100" [tooltip]="'Limit exceeded'" [height]="'35px'" [color]="'black'" [backgroundColor]="'yellow'"></app-progress-bar-control>
</div>

